<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom mt-1 px-2">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Electives</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Ru</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">En</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/contacts">Contacts</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <a class="py-2 text-dark text-decoration-none px-2" >
                <form th:action = "@{/logout}" method="post">
                    <input type="submit" value="Logout">
                </form>
            </a>

        </nav>
    </div>
</div>
